.img-cont-hover {
    border: 1px solid #252525;
}
.edit-pic {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: none;
    outline: none;
    background-color: #252525;
    color: #d3d3d3;
    font-size: 0.8em;
    border-bottom-right-radius: 5px;
    padding: 1px;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
    transform: translateX(110%);
    transition: transform 0.15s ease-in;
}

.edit-pic-show {
    transform: translateX(0%);
}
.edit {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border: none;
    background-color: #252525;
    color: #d3d3d3;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.update-container {
    background-color: #d3d3d3;
    border-radius: 5px;
    box-shadow: 0px 4px 9px 0px #848484;
    padding: 16px;
    margin: 0 auto;
    text-align: start;
}

.closebtn {
    background-color: #aa3d3d;
}

#output {
    margin-top: 10px;
    height: 100px;
}

.posts-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 5px;
    box-shadow: 0px 4px 9px 0px #848484;
}
.post,
.pages {
    width: 100%;
    border-radius: 0;
    border-top: 3px solid #adadad;
    margin: auto;
}
.pages {
    padding: 8px 0;
}
.edit-post {
    margin-top: 15px;
    font-size: 1em;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.1em;
    width: 100%;
    cursor: pointer;
}
.list > i {
    font-size: 1.3em;
    transition: transform 0.2s ease-in;
}

.posts {
    width: 100%;
    height: 0;
    overflow: hidden;
}

.expanded {
    height: auto;
}
.rotated {
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in;
}

.invisible {
    display: none;
}
