.input-container {
    padding: 16px;
    padding-top: 0;
    width: 60%;
    margin: 0 auto;
    text-align: start;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 0px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 1.1em;
}

input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: 0 0 8px 1px rgb(0, 153, 255), inset 0 0 5px rgb(0, 153, 255);
    outline: none;
}

.registerbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 1.05em;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.error-msg {
    text-align: start;
    color: red;
    margin: 0;
}

.error {
    border: 3px solid red !important;
}
.error:focus {
    box-shadow: 0 0 8px 1px #ff5c5c, inset 0 0 5px #ff5c5c !important;
}

.feild {
    margin-bottom: 20px;
}
