* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #d3d3d3;
}
nav {
    display: flex;
    padding: 10px;
    background-color: #252525;
    justify-content: space-between;
    position: relative;
}
.links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.link {
    padding: 8px;
    margin: 0 30px;
}

.link > a {
    color: white;
    text-decoration: none;
}

.last {
    margin: 0 5px;
}

.active {
    background-color: #d3d3d3;
    border-radius: 50px;
}
.active > a {
    color: #252525;
}

.logo {
    max-width: 7vw;
    max-height: 7vh;
    transform: rotateY(180deg);
    height: fit-content;
    position: absolute;
    top: 5px;
    left: 5px;
}

.alerts {
    width: 60%;
    margin: 10px auto;
}

.alert {
    padding: 17px;
    color: white;
    opacity: 1;
    border-radius: 4px;
    transition: opacity 0.6s;
}
.alert.info {
    background-color: #2faacf;
}
.alert.success {
    background-color: #4caf50;
}
.alert.warning {
    background-color: #ff9800;
}
.alert.error {
    background-color: #bd4a41;
}
.closealert {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closealert:hover {
    color: black;
}

main {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
