textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 0px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 1.1em;
}

textarea {
    height: 300px;
    resize: vertical;
}

input[type="text"]:focus,
textarea:focus {
    box-shadow: 0 0 8px 1px rgb(0, 153, 255), inset 0 0 5px rgb(0, 153, 255);
    outline: none;
}
