.post > h3 {
    margin-top: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.container > div {
    margin-bottom: 20px;
}
.user-info {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 5px;
    box-shadow: 0px 4px 9px 0px #848484;
}
.text {
    margin-left: 20px;
}
.img-cont {
    position: relative;
    width: 101px;
    height: 101px;
    border-radius: 5px;
    border: 1px solid transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic {
    max-width: 100%;
    max-height: 100%;
}
