{%extends "layout.html"%} {% block style%}
<link rel="stylesheet" href="static/styles/about.css" />
{%endblock style%} {% block title%} About {% endblock title%} {%block main%}
<h1>About Me:</h1>
<div class="bio">
    <p>
        Hey there, welcome to my first ever website that i made. Yes I've made pages
        before, whitch you can check out on my
        <a href="https://github.com/Hank2q" target="_blank">GitHub</a>, but this is
        the first website I made with backend using Flask framework in python. <br />
        This is just a simple page where I might post some thoughts I have. I'm also
        posting some fun things which I made.<br />
        If you're wondering about the picture below, I also made it in Adobe
        Illustrator, I like bears especially polar bares and I'm using this one as my
        logo for now, that is untill i get bored and make a new one.
    </p>
    <img src="static/images/logo1v2.png" alt="Polar Code Logo" />
</div>
{%endblock main%}
