{%extends "layout.html"%} {% block title%} Account {% endblock title%} {% block
style%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/post.css') }}" />
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/inputs.css') }}"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/user.css') }}" />
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/account.css') }}"
/>
{%endblock style%} {%block main%}
<div class="container">
    <div class="account-info">
        <div class="img-cont">
            <img class="profile-pic" src="{{image}}" alt="Profile Picture" />
            <button class="edit-pic"><i class="fas fa-edit"></i> Change</button>
        </div>
        <div class="text">
            <h1 class="display-username">{{current_user.username}}</h1>
            <h4 class="display-email">{{current_user.email}}</h4>
        </div>
        <button class="edit"><i class="fas fa-edit"></i> Edit</button>
    </div>
    <div class="update-container invisible">
        <form id="update-form" action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag()}}
            <div class="username-container feild">
                {{form.username.label(class='user-label')}} {%if
                form.username.errors%} {{form.username(class='username
                input-error')}} {%for error in form.username.errors%}
                <span class="error-msg">{{error}}</span>
                {% endfor %} {%else%} {{form.username(class='username')}} {%endif%}
            </div>
            <div class="email-container feild">
                {{form.email.label()}} {%if form.email.errors%}
                {{form.email(class='email input-error')}} {%for error in
                form.email.errors%}
                <span class="error-msg">{{error}}</span>
                {% endfor %} {%else%} {{form.email(class='email')}} {%endif%}
            </div>
            {{form.profile_img.label()}}<br />
            {%if form.profile_img.errors%} {{form.profile_img(class='profile_img
            input-error')}}<br />
            {%for error in form.profile_img.errors%}
            <span class="error-msg">{{error}}</span>
            {% endfor %} {%else%} {{form.profile_img()}}<br />
            <img id="output" class="invisible" />
            {%endif%}
            <a href="{{url_for('users.change_password')}}">Change Password</a>
            {{ form.update(class='registerbtn')}}
        </form>
        <button class="closebtn registerbtn">Close</button>
    </div>
</div>
<div class="posts-container">
    <div class="list">
        <h3>Posts</h3>
        <i class="fas fa-caret-left"></i>
    </div>
    <div data-pages="{{posts.pages}}" class="posts">
        {% for post in posts.items%}
        <div class="post" id="{{post.id}}">
            <h3>
                <a
                    class="post-title"
                    href="{{url_for('posts.post', post_id=post.id)}}"
                    >{{post.title}}</a
                >
            </h3>
            <div class="edit-post">
                <i class="menu-btn fas fa-ellipsis-h"></i>
                <ul class="options">
                    <a href="{{url_for('posts.update_post', post_id=post.id)}}">
                        <li class="option">
                            <i class="fas fa-pen"> Edit</i>
                        </li>
                    </a>
                    <i class="delete-post">
                        <li class="option">
                            <i class="fas fa-trash-alt"> Delete</i>
                        </li>
                    </i>
                    <form
                        id="delete-{{post.id}}"
                        action="{{url_for('posts.delete_post', post_id=post.id, page='users.account')}}"
                        method="POST"
                    ></form>
                </ul>
            </div>
            <h5>{{post.post_date.strftime("%d %b, %Y") }}</h5>
            <p>{{post.content}}</p>
        </div>
        {%endfor%}
    </div>
    {% if posts.pages > 1%}
    <div class="pages invisible">
        {%for page_num in posts.iter_pages(left_current=2, right_current=2)%} {%if
        page_num %} {%if page_num == posts.page%}
        <a class="page-num active" href="{{url_for('users.account', page=page_num)}}"
            >{{page_num}}</a
        >
        {%else%}
        <a class="page-num" href="{{url_for('users.account', page=page_num)}}"
            >{{page_num}}</a
        >
        {%endif%} {%else%} ... {%endif%} {%endfor%}
    </div>
    {% endif %}
</div>
{%endblock main%} {%block script%}
<script src="{{ url_for('static', filename='javascripts/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/postMenu.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/account.js') }}"></script>

{%endblock script%}
