{% for post in posts.items%}
<div class="post" id="{{post.id}}">
    <div class="user-info">
        <div class="img-cont">
            <img
                class="circle"
                src="{{url_for('static', filename='images/profiles/' + post.author.profile_img)}}"
            />
        </div>
        <div class="text">
            <h5>
                {%if current_user == post.author%}
                <a href="{{url_for('users.account')}}">{{post.author.username}}</a>
                {%else%}
                <a href="{{url_for('users.user', username=post.author.username)}}"
                    >{{post.author.username}}</a
                >
                {%endif%}
            </h5>
            <h5>{{post.post_date.strftime("%d %b, %Y") }}</h5>
        </div>
    </div>
    {%if current_user == post.author%}
    <div class="edit-post">
        <i class="menu-btn fas fa-ellipsis-h"></i>
        <ul class="options">
            <a href="{{url_for('posts.update_post', post_id=post.id)}}">
                <li class="option">
                    <i class="fas fa-pen"> Edit</i>
                </li>
            </a>
            <i class="delete-post">
                <li class="option">
                    <i class="fas fa-trash-alt"> Delete</i>
                </li>
            </i>
            <form
                action="{{url_for('posts.delete_post', post_id=post.id, page='home')}}"
                method="POST"
            >
                <input
                    style="display: none"
                    id="delete-{{post.id}}"
                    type="submit"
                    value="delete"
                />
            </form>
        </ul>
    </div>
    {%endif%}
    <h3>
        <a class="post-title" href="{{url_for('posts.post', post_id=post.id)}}"
            >{{post.title}}</a
        >
    </h3>
    <p>{{post.content}}</p>
</div>
{%endfor%}
