{% extends "layout.html"%} {%block title%} Password Reset {%endblock title%} {%block
style%}
<link rel="stylesheet" href="{{url_for('static', filename='styles/inputs.css')}}" />
{%endblock style%} {%block main%}
<div class="input-container">
    <form action="" method="post">
        {{ form.hidden_tag()}}
        <div class="password-container feild">
            {{form.password.label()}} {%if form.password.errors%}
            {{form.password(class='error')}} {%for error in form.password.errors%}
            <span class="error-msg">{{error}}</span>
            {% endfor %} {%else%} {{form.password(class='password')}} {%endif%}
        </div>
        <div class="confirm-container feild">
            {{form.confirm_password.label()}} {%if form.confirm_password.errors%}
            {{form.confirm_password(class='error')}} {%for error in
            form.confirm_password.errors%}
            <span class="error-msg">{{error}}</span>
            {% endfor %} {%else%} {{form.confirm_password()}} {%endif%}
        </div>
        {{form.reset(class='registerbtn')}}
    </form>
</div>
{%endblock main%}
