{%extends "layout.html"%} {% block title%} {{user.username}} {% endblock title%} {%
block style%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/post.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles/user.css') }}" />
{%endblock style%} {%block main%}
<div class="container">
    <div class="account-info">
        <div class="img-cont">
            <img
                class="profile-pic"
                src="{{url_for('static', filename='images/profiles/' + user.profile_img)}}"
                alt="Profile Picture"
            />
        </div>
        <div class="text">
            <h1 class="display-username">{{user.username}}</h1>
        </div>
    </div>
</div>

{% for post in posts.items%}
<div class="post">
    <h3 class="post-title">
        <a href="{{url_for('post', post_id=post.id)}}">{{post.title}}</a>
    </h3>
    <h5>{{post.post_date.strftime("%d %b, %Y") }}</h5>
    <p>{{post.content}}</p>
</div>
{%endfor%} {% if posts.pages > 1%} {%for page_num in posts.iter_pages(left_current=2,
right_current=2)%} {%if page_num %} {%if page_num == posts.page%}
<a
    class="page-num active"
    href="{{url_for('user', username=user.username,page=page_num)}}"
    >{{page_num}}</a
>
{%else%}
<a class="page-num" href="{{url_for('user', username=user.username,page=page_num)}}"
    >{{page_num}}</a
>
{%endif%} {%else%} ... {%endif%} {%endfor%} {%endif%} {%endblock main%}
